In [2]:
from pathlib import Path
import pandas as pd
import numpy as  np

In [3]:
work =  Path(r'D:\\Proyectos personales\\runners-peru')

# Lima42k-2019

In [4]:
# Import data
lima42k_2019 = pd.read_csv(work/r'data/raw/lima42k_2019.csv')

# Create new columns
lima42k_2019['year'] = 2019
lima42k_2019['age']= '16-34'

In [8]:
lima42k_2019.columns

Index(['number_runner', 'last_name', 'name', 'gender', 'age', 'category',
       'official_time', 'chip_time', 'ranking', 'year'],
      dtype='object')

## How many runners participated?

In [5]:
lima42k_2019.shape[0]

12455

## What is the most popular category?

In [6]:
lima42k_2019['category'].value_counts()

10K    5888
21K    4034
42K    2533
Name: category, dtype: int64

## How old were they?

In [7]:
lima42k_2019['age'].value_counts()

16-34    3007
18-34    2410
35-39    1996
40-44    1799
45-49    1353
50-54     898
55-59     546
60-64     269
65-99     177
Name: age, dtype: int64

In [16]:
pd.crosstab(lima42k_2019['age'],lima42k_2019['category'])

category   10K   21K  42K
age
16-34     3007     0    0
18-34        0  1576  834
35-39      834   754  408
40-44      688   640  471
45-49      497   458  398
50-54      377   314  207
55-59      238   174  134
60-64      144    72   53
65-99      103    46   28

In [15]:
34-18

16

## There are differences in performance by gender?

In [38]:
lima42k_2019['gender'].value_counts()

M    7808
F    4647
Name: gender, dtype: int64

In [9]:
lima42k_2017 = pd.read_csv(work/r'data/raw/lima42k_2017.csv')

In [12]:
lima42k_2017['age'].value_counts()

16-34    3170
18-34    2018
35-39    2013
40-44    1824
45-49    1289
50-54     825
55-59     468
60-64     238
65-99     189
Name: age, dtype: int64